extends ./layout/admin/indexAdmin

block sliderAdmin
    .slider
        em Blog de Teoria Computacional           
           

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p.text-justify El blog de Teoría Computacional es creado por la comunidad de ESCOM y dirigido hacia los estudiantes y personas que tengan interés por la materia de Teoría Computacional. Este es un espacio donde cualquiera puede colaborar aportando aquellos artículos, videos, o cualquier otro material didactito que este almacenado en alguna pagina de internet. Solo con ir a nuestra sección “Comparte” puedes compartir tu material. 

                p.text-justify Este Blog tiene como objetivo ser un espacio exclusivo donde leer sobre temas relacionados con la materia, además de ser un repositorio el cual reúna la información que esta distribuida a lo largo de internet, almacenando los links que la comunidad comparte y visualizándolos de una manera ordenada.              
            .col-md-6
                img(src="img/inicio_nosotros.jpg", alt= "imagen nosotros" class="img-fluid")
        
    .descuento   
        .container
            .row
                .col-md-6
                    .contenido
                        h3.titulo Ayudanos a portarnos nuevas ligas con contenido relacionado
                        
    .container
        
            
