extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5.mt-5

                img.img-fluid.img-thumbnail(src="img/nosotros.jpg", alt="Imagen Nosotros")
            .col-md-7
                h1.text-center #{pagina}
                p.text-justify El blog de Teoría Computacional es creado por la comunidad de ESCOM y dirigido hacia los estudiantes y personas que tengan interés por la materia de Teoría Computacional. Este es un espacio donde cualquiera puede colaborar aportando aquellos artículos, videos, o cualquier otro material didactito que este almacenado en alguna pagina de internet. Solo con ir a nuestra sección “Comparte” puedes compartir tu material. 

                p.text-justify Este Blog tiene como objetivo ser un espacio exclusivo donde leer sobre temas relacionados con la materia, además de ser un repositorio el cual reúna la información que esta distribuida a lo largo de internet, almacenando los links que la comunidad comparte y visualizándolos de una manera ordenada.               
                    






